<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body { background-image: url('https://i.ibb.co/2F0Np0s/pexels-ann-h-6980523-modified3.png');background-size: 1366px 768px; }
    #content{
    text-align: center;
    padding: 280px 170px;
    font-size: 150%;
    color:rgba(255, 253, 253, 0.767);
}
    </style>
</head>
<body>
    <div id="content">
        {{value}}
    </div>
</body>
</html>